{% extends 'base.html' %}
{%load static%}
{% load i18n %}
{% block breadcrumb %}
<li class="breadcrumb-item active"> Boards</li>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/boards.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock %}


{% block content %}

<p>

{% if user.is_authenticated and bloger == 'True'%}
  <button type="button"
            class="btn btn-primary js-create-board"
            data-url="{% url 'boards_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New board
    </button>
  </p>
  
  <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#exampleModal" >
    Просмотреть последние действия
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-body p-3 mb-2 bg-white text-dark" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Last actions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Object</th>
      <th scope="col">Changes</th>
      <th scope="col">Time</th>
    </tr>
  </thead>

  <tbody>

  {% for i in history.all%}
{%if i.history_user%}
    <tr>
    <td>{{i.history_user}}</td>
    <td>{{i.history_object}}</td>
    {%if i.history_type == '~' %}
    <td>Update</td>
    {%elif i.history_type == '+'%}
    <td>Create</td>
    {%elif i.history_type == '-'%}
    <td>Delete</td>
    {%endif%}
    <td>{{i.history_date}}</td>
    {%endif%}
    {%endfor%} 
   </tr>
  </tbody>
  </table>

</div>
</div>
</div>

{%endif%}






<table class="table infinite-container"  id="board-table">
  <thead class="thead-dark">
    <tr>
      <th>Board</th>
      <th>Posts</th>
      <th>Topics</th>
      <th>Last Post</th>

      {% if user.is_authenticated and bloger == 'True' %}
      <th>Edit</th>
      {%endif%}

    </tr>
  </thead>
  <tbody class="infinite-item">
    
{%include 'includes/partial_board.html' %}

  </tbody>
</table>

<div class="modal fade" id="modal-board">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>

<div class="loading" style="display: none;">
  Loading...
</div>

{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
{% endif %}



{% endblock %}