{% extends 'base.html' %}
{% load widget_tweaks static %}
{% block javascript %}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/progress-bar-upload.js' %}"></script>

{% endblock %}
{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}

<div class="border border-secondary" style="padding: 5px;">

<div  style="margin-bottom: 20px;">
<form method="POST"  enctype="multipart/form-data">

  {% csrf_token %}

  {% include 'includes/form.html' %}

  

  <!-- <button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
  </button> -->


</div>
<button type="submit" class="btn btn-success mb-5" >POST</button>
</form>
<table id="gallery" class="table table-bordered ">
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>



  </tbody>
</table>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}


