
{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}


{% block content %}
<div class="infinite-container mb-2">

<div class="mb-4">
  <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
</div>
<div class="mb-4">
  <a href="{% url 'to-xls' board.pk %}" class="btn btn-primary">Export to exel</a>
  <a href="{% url 'to-pdf' board.pk %}" class="btn btn-primary">Export to pdf</a>

</div>

{%if topics%}

<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Topic</th>
      <th>Starter</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <div class="infinite-item">
    {% for topic in topics %}
      {% url 'topic_posts' board.pk topic.pk as topic_url %}
      <tr>
        <td>
          <p class="mb-0">
            <a href="{{ topic_url }}">{{ topic.subject }}</a>
          </p>
          <small class="text-muted">
            Pages:
            {% for i in topic.get_page_range %}
              <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if topic.has_many_pages %}
            ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
            {% endif %}
          </small>
        </td>
        <td class="align-middle">{{ topic.starter.username }}</td>
        <td class="align-middle">{{ topic.replies }}</td>
        <td class="align-middle">{{ topic.views }}</td>
        <td class="align-middle">{{ topic.last_updated|naturaltime }}</td>
      </tr>
    {% endfor %}

    </div>
  </tbody>
</table>
{%else%}
<div class="card" style="width:100%;">
  <img style="width: 550px;  padding-left: 400px;" src="https://lh3.googleusercontent.com/proxy/W278B1yoNvMcoTqU14zq7ZQoXfUpfLzSXvFUS3N85-QDOKtW0KelgErfbIMkSXrFPWFrr5z91-87nNkU4-6fpNCI2VmHonVvahUcJfCBJwNe31CIRMgmhTOjzBOcAneWMZEyuchU9t-Ioi91u_Exfeov0nMcwi0-HFJRjn3UqAWoh17L8O4tYrvs88FlgFBUSRCgijHNp_Jxc6kUNrOF1VBQxdP8KKX97ThwfpGhktl8K_EoVZVLKbVm1FefvvwFxUsB7zaa" class="card-img-top ml-5" alt="...">
  <div class="card-body">
    <p class="card-text" style="font-size: 20px;">no topics.</p>
  </div>
</div>
{%endif%}
</div>

{%include 'includes/pagination.html'%}

{% endblock %}


