{% extends 'base.html' %}
{% load flatpages %}
{% block title %} {{ flatpage.title }}{% endblock %}

{% block content %}

        <div class="collapse navbar-collapse" id="menu">
          {% get_flatpages as flatpages %}
          <ul class="nav navbar-nav">
            {% for page in flatpages %}
              <li><a href="/pages{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ flatpage.content }}
    </div>
{%endblock%}